<header class="navbar navbar-expand-lg navbar-light bg-dark mb-4">
  <div class="container">
    <a href="/" class="navbar-brand">
      <img
        src="https://i.ibb.co/GCRGqJf/servico-facil-branco.png"
        alt="servico-facil-branco"
        width="100"
        class="img-fluid"
      />
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">
            <ion-icon name="home"></ion-icon> Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/solicitar-servico">
            <ion-icon name="hammer"></ion-icon> Solicitar Serviço
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">
            <ion-icon name="person-circle"></ion-icon> Login
          </a>
        </li>
      </ul>
    </div>
  </div>

  <style>
	body {
      margin: 0;
      padding: 0;
      font-family: Anisha, sans-serif;
    }

	ion-icon {
		color: #198754;
	}
    .nav-link {
      color: white;
    }
    .nav-link:hover {
      color: #198754;
    }

    
  </style>
</header>
